/*elemn selector*/
body {
  margin: 0;
  padding: 0;
}
footer{
  text-align: center;
  background-color: #b71c1c;
  padding: 20px;
  color: #ffffff;
  
}

main{
  overflow: auto;
  padding: 15px;
}


/*grouping selector*/
h1{
  color: #ff4081;
}
aside{
  text-align: center;
}


/*class selector*/
.tengah{
  text-align: center;
}
.card{
  border-radius: 5px;
  padding: 15px;
  box-shadow: 4px;
}
@media screen and (max-width: 360px;){
  .tengah .card aside main body{
    width: 100%;
    height: auto;
  }
}

